<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Railway Reservation System</display-name>
    
 <servlet>
 <servlet-name>login</servlet-name>
 <servlet-class>loginServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>login</servlet-name>
 <url-pattern>/loginurl</url-pattern>
 </servlet-mapping>
 
 <servlet>
 <servlet-name>register</servlet-name>
 <servlet-class>RegisterServlet</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>register</servlet-name>
 <url-pattern>/registerurl</url-pattern>
 </servlet-mapping> 
 
 <servlet>
 <servlet-name>BookTicketServlet</servlet-name>
 <servlet-class>BookTicketServlet</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>BookTicketServlet</servlet-name>
 <url-pattern>/BookTicketServlet</url-pattern>
 </servlet-mapping> 
 
  <servlet>
 <servlet-name>UpdateProfileServlet</servlet-name>
 <servlet-class>UpdateProfileServlet</servlet-class>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>UpdateProfileServlet</servlet-name>
 <url-pattern>/update</url-pattern>
 </servlet-mapping> 
 
 <servlet>
 <servlet-name>LogoutServlet</servlet-name>
 <servlet-class>LogoutServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>LogoutServlet</servlet-name>
 <url-pattern>/logout</url-pattern>
 </servlet-mapping>
 
</web-app>